<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HKMultiFileDownloader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>374DBF101CCDEC960004B3A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>374DBF291CCDEC960004B3A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>374DBF341CCDEC960004B3A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
